<?xml version="1.0" encoding="utf-8"?>
<Media Key="0b2e05b2-28e2-4ef7-a39b-83c341acb52c" Alias="08. CMS 25 yhp.pdf" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CMS25Yhppdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-11-03T16:44:33</CreateDate>
    <NodeName Default="08. CMS 25 yhp.pdf" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mldpn1ta/08-cms-25-yhp.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>