<?xml version="1.0" encoding="utf-8"?>
<Media Key="d2290029-9ae7-45d1-ad97-ff50163fc607" Alias="aaron-image-104 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/aaronImage1041svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T10:39:53</CreateDate>
    <NodeName Default="aaron-image-104 1.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1o4jwmh2/aaron-image-104-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>