<?xml version="1.0" encoding="utf-8"?>
<Media Key="42d65a50-9ed0-4103-9cc0-cba030a232ca" Alias="aj-image-106 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ajImage1061svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T10:39:33</CreateDate>
    <NodeName Default="aj-image-106 1.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ulthjigl/aj-image-106-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>