<?xml version="1.0" encoding="utf-8"?>
<Media Key="40d09a7d-4fa3-4664-9135-b7928593a825" Alias="Assurance-Audits-hero.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AssuranceAuditsHerosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T12:59:31</CreateDate>
    <NodeName Default="Assurance-Audits-hero.svg" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/r2thfivy/assurance-audits-hero.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>