<?xml version="1.0" encoding="utf-8"?>
<Media Key="e7462688-a23d-489f-92e7-6377e150235c" Alias="brandon-big-Mask-Group-8 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/brandonBigMaskGroup81svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T16:15:59</CreateDate>
    <NodeName Default="brandon-big-Mask-Group-8 1.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pknpibjg/brandon-big-mask-group-8-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>