<?xml version="1.0" encoding="utf-8"?>
<Media Key="6e71b10f-425b-484b-884c-1c754fbfb3ce" Alias="brandon-image-47 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/brandonImage471svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T10:39:13</CreateDate>
    <NodeName Default="brandon-image-47 1.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5ugnhdca/brandon-image-47-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>