<?xml version="1.0" encoding="utf-8"?>
<Media Key="e1ac1e77-0c26-48b2-b6d4-97a789c27bd2" Alias="brandon-Mask-Group-8 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/brandonMaskGroup81svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T10:40:46</CreateDate>
    <NodeName Default="brandon-Mask-Group-8 1.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qwrb2az3/brandon-mask-group-8-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>