<?xml version="1.0" encoding="utf-8"?>
<Media Key="62501f61-6b5c-414e-9f54-d08a0dd1caa4" Alias="Component 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Component1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T10:05:58</CreateDate>
    <NodeName Default="Component 1.svg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sorpfach/component-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>