<?xml version="1.0" encoding="utf-8"?>
<Media Key="313c22e6-c3aa-40e1-b5b2-3bd6a1e82ebb" Alias="Examensarbete 20yhp.pdf" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Examensarbete20yhppdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-11-03T16:44:33</CreateDate>
    <NodeName Default="Examensarbete 20yhp.pdf" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/g1qpjvbi/examensarbete-20yhp.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>