<?xml version="1.0" encoding="utf-8"?>
<Media Key="876ad2c7-4cc5-4af0-9f1c-1b13c98b26eb" Alias="Financial-Advisor-hero.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FinancialAdvisorHerosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T13:00:18</CreateDate>
    <NodeName Default="Financial-Advisor-hero.svg" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gvxnqzo4/financial-advisor-hero.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>