<?xml version="1.0" encoding="utf-8"?>
<Media Key="34e78d76-4468-4cd6-aaca-752cb5fa66cb" Alias="fossilgroup06.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/fossilgroup06svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T11:59:43</CreateDate>
    <NodeName Default="fossilgroup06.svg" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qqyelvtt/fossilgroup06.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>