<?xml version="1.0" encoding="utf-8"?>
<Media Key="b339930f-83c4-47d6-9e76-fb84d50f1d58" Alias="freedombird01.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/freedombird01svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T11:57:43</CreateDate>
    <NodeName Default="freedombird01.svg" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5uxjwuo5/freedombird01.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>