<?xml version="1.0" encoding="utf-8"?>
<Media Key="f5794d1f-a961-4862-8b88-c77d3146479f" Alias="globe05.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/globe05svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T11:59:24</CreateDate>
    <NodeName Default="globe05.svg" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3xynwf10/globe05.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>