<?xml version="1.0" encoding="utf-8"?>
<Media Key="27af131f-abde-470b-bf2d-571b4fc744e0" Alias="hero-bg-image.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/heroBgImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T15:33:21</CreateDate>
    <NodeName Default="hero-bg-image.svg" />
    <SortOrder>34</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3wxa1rof/hero-bg-image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>