<?xml version="1.0" encoding="utf-8"?>
<Media Key="4c158d3c-34c4-4b4a-82d5-e1731854fdbb" Alias="identity02.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/identity02svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T11:58:25</CreateDate>
    <NodeName Default="identity02.svg" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zyylplw5/identity02.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>