<?xml version="1.0" encoding="utf-8"?>
<Media Key="38ca761d-47bd-4135-acfa-38f242fdf2e8" Alias="Img-5-e1695109900349 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Img5E16951099003491svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T10:06:49</CreateDate>
    <NodeName Default="Img-5-e1695109900349 1.svg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/35fhrwvg/img-5-e1695109900349-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>