<?xml version="1.0" encoding="utf-8"?>
<Media Key="645cced1-9737-4a14-b53a-ea46739d0d68" Alias="Kevin-Gardner-big.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/KevinGardnerBigsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T16:16:33</CreateDate>
    <NodeName Default="Kevin-Gardner-big.svg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/enzp3brm/kevin-gardner-big.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>