<?xml version="1.0" encoding="utf-8"?>
<Media Key="d9977b9e-5418-45b4-8305-8e844466fa27" Alias="Kevin-Gardner 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/KevinGardner1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T10:41:27</CreateDate>
    <NodeName Default="Kevin-Gardner 1.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ntddkoyd/kevin-gardner-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>