<?xml version="1.0" encoding="utf-8"?>
<Media Key="e8417784-f0b9-4ef2-80e0-2d0c7ef25571" Alias="map 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/map1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-03T16:44:33</CreateDate>
    <NodeName Default="map 1.svg" />
    <SortOrder>32</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/o1fogcvc/map-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>