<?xml version="1.0" encoding="utf-8"?>
<Media Key="74805589-dad3-4f20-b34f-78b8d557d3bd" Alias="miranda-Img-4-2 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/mirandaImg421svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T10:41:07</CreateDate>
    <NodeName Default="miranda-Img-4-2 1.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ppucffwi/miranda-img-4-2-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>