<?xml version="1.0" encoding="utf-8"?>
<Media Key="953b6b21-742f-42a8-ae67-6a2c46aa7419" Alias="Miranda-big-Img-4-2 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MirandaBigImg421svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T16:16:15</CreateDate>
    <NodeName Default="Miranda-big-Img-4-2 1.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0pljs3zu/miranda-big-img-4-2-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>