<?xml version="1.0" encoding="utf-8"?>
<Media Key="43343742-93de-4c46-8d03-bb20b847544b" Alias="natural03.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/natural03svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T11:58:43</CreateDate>
    <NodeName Default="natural03.svg" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wcfjniof/natural03.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>