<?xml version="1.0" encoding="utf-8"?>
<Media Key="b66c5139-59d0-4955-9f12-a2b2fd0892bc" Alias="OnatrixLogo.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OnatrixLogosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-23T15:26:32</CreateDate>
    <NodeName Default="OnatrixLogo.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zpwm2vgl/onatrixlogo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>