<?xml version="1.0" encoding="utf-8"?>
<Media Key="5e29693c-a2ab-47d5-a626-f5c3dd4d032e" Alias="post2.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/post2svg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-03T16:44:42</CreateDate>
    <NodeName Default="post2.svg (1)" />
    <SortOrder>33</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/z1kixpfq/post2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>