<?xml version="1.0" encoding="utf-8"?>
<Media Key="2df9f914-169e-41a1-a68e-fc7bcaca87f5" Alias="post2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/post2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-03T16:44:33</CreateDate>
    <NodeName Default="post2.svg" />
    <SortOrder>31</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2zcfxt2f/post2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>