<?xml version="1.0" encoding="utf-8"?>
<Media Key="0a6806b4-deb3-49f0-9fce-0303a955619d" Alias="ppl-grp.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/pplGrpsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T22:15:17</CreateDate>
    <NodeName Default="ppl-grp.svg" />
    <SortOrder>36</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/i03nv0fi/ppl-grp.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>