<?xml version="1.0" encoding="utf-8"?>
<Media Key="051c82c5-ddf4-4651-bf6b-d4d3c5ca039b" Alias="risk-management-hero2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/riskManagementHero2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T12:57:31</CreateDate>
    <NodeName Default="risk-management-hero2.svg" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/g25l3z5p/risk-management-hero2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>