<?xml version="1.0" encoding="utf-8"?>
<Media Key="a435672e-f0c9-483e-91dc-4cd1f66ec068" Alias="simpleaf04.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/simpleaf04svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T11:59:08</CreateDate>
    <NodeName Default="simpleaf04.svg" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1tnjorws/simpleaf04.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>