<?xml version="1.0" encoding="utf-8"?>
<Media Key="fad51553-b94f-4456-a6b9-92dc878ae29d" Alias="Statistic-Advisors-hero.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/StatisticAdvisorsHerosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T13:00:42</CreateDate>
    <NodeName Default="Statistic-Advisors-hero.svg" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uguhogcu/statistic-advisors-hero.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>