<?xml version="1.0" encoding="utf-8"?>
<Media Key="1db05b87-5a9c-4c94-8e48-d615eba5e68c" Alias="successImage.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/successImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T11:52:11</CreateDate>
    <NodeName Default="successImage.svg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/oxtbf52h/successimage.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>