<?xml version="1.0" encoding="utf-8"?>
<Media Key="6fc3bc87-e33e-46ff-999d-23fb860cff55" Alias="tax-trust-hero.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/taxTrustHerosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T12:59:50</CreateDate>
    <NodeName Default="tax-trust-hero.svg" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ouahddjf/tax-trust-hero.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>