<?xml version="1.0" encoding="utf-8"?>
<Media Key="2ccec889-2998-4109-a692-2c5f8d4e6e8a" Alias="tina.large1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/tinalarge1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T08:33:10</CreateDate>
    <NodeName Default="tina.large1.svg" />
    <SortOrder>37</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pn0hztud/tinalarge1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>