<?xml version="1.0" encoding="utf-8"?>
<Media Key="bc4f05a5-cbed-4181-87b8-57bec2e3eef9" Alias="umbraco-package.json" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/umbracoPackagejson</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-11-03T16:44:33</CreateDate>
    <NodeName Default="umbraco-package.json" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kzwlihgk/umbraco-package.json]]></Value>
    </umbracoFile>
  </Properties>
</Media>