@using Umbraco.Cms.Web.Common.PublishedModels
@using Umbraco.Cms.Core.Models
@using Umbraco.Cms.Core.Models.Blocks
@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    var sections = Model.Value<BlockListModel>("sections");

    var partnerSection = sections?
        .Select(x => x.Content)
        .OfType<PartnerSection>()
        .FirstOrDefault();

    var partners = partnerSection?.PartnerList?
        .Select(x => x.Content)
        .OfType<Partners>()
        .ToList() ?? new List<Partners>();
}

<section class="partners-section">
    
    @foreach (var partner in partners)
    {
        var logo = partner.PartnerLogoImage;
        var altText = partner.PartnerName ?? "Partner logo";
        var logoUrl = logo?.GetCropUrl() ?? string.Empty;
        <div class="logo-container">
        @if (!string.IsNullOrEmpty(logoUrl))
        {
            <img src="@logoUrl" alt="@altText" loading="lazy" decoding="async" />
        }
        </div>
    }
    
</section>
