@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


<section>
    <div>
        <h4>sub title</h4>
        <h2>Heading here</h2>

    </div>
    <div class="cards-container">
        <a class="service-card">
            <h4></h4>
            <div class="card-img-container">
                <img src="#" alt="Alternate Text" />
            </div>
            <p> Text
            </p>

        </a>
        <article class="service-item">
            <a href="/services/financial-advisor" class="service-link">
                <figure>
                    <figcaption>
                        <h3>Financial Advisor</h3>
                    </figcaption>
                    <div class="item-img-container">
                        <img src="/images/financial-advisor.jpg"
                             alt="Two financial advisors discussing investment plans">
                    </div>
                    <p>Professional advisory services to help you make smart financial decisions.</p>
                </figure>
            </a>
        </article>
    </div>

</section>

