<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b7293a55-f83d-4bf1-b3a6-297c9b8c885f" Alias="aboutPage" Level="2">
  <Info>
    <Name>About Us Page</Name>
    <Icon>icon-diploma color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>About Us Page</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="d376848c-5e55-4453-bfff-cb64a1869479">hasBackgroundOptions</Composition>
    </Compositions>
    <DefaultTemplate>aboutPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d70f5dbc-daa0-4842-bd9d-e08e59b4d863">aboutPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>99b48587-67c0-4c29-948c-bd6eac1d2840</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>efdbc4bf-8178-4b49-85ad-178270fa561a</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>66004c32-2934-412c-97be-6d86ceaa040f</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>