<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0d052834-535c-41e1-9458-9576a2af63c3" Alias="contactPage" Level="2">
  <Info>
    <Name>Contact Page</Name>
    <Icon>icon-phone color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Contact Page</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="d376848c-5e55-4453-bfff-cb64a1869479">hasBackgroundOptions</Composition>
    </Compositions>
    <DefaultTemplate>contactPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="de5b0561-be2b-4090-bbae-559a9ffa6178">contactPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f05f4b92-3c90-4949-8311-5e4df7d74edc</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>efdbc4bf-8178-4b49-85ad-178270fa561a</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0b495c9d-e25b-46ee-affe-57b4c8fc3562</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>