<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="152f0748-969f-4e6d-95a4-5c874ecaa4da" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="fd359341-1a41-4840-88df-28c572411e52">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="b7293a55-f83d-4bf1-b3a6-297c9b8c885f" SortOrder="0">aboutPage</ContentType>
    <ContentType Key="0d052834-535c-41e1-9458-9576a2af63c3" SortOrder="1">contactPage</ContentType>
    <ContentType Key="b70d6c73-6f54-4d6b-a82b-5bd7e63728d3" SortOrder="2">servicePage</ContentType>
    <ContentType Key="74aad808-44f9-4712-97d5-95c25f1c2c98" SortOrder="3">projectPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>b0de4280-4352-4431-b395-c9dfbde72ba4</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>efdbc4bf-8178-4b49-85ad-178270fa561a</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>4686fba6-7e22-454c-bd30-23ccf9a66cc7</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>