<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b70d6c73-6f54-4d6b-a82b-5bd7e63728d3" Alias="servicePage" Level="2">
  <Info>
    <Name>Services Page</Name>
    <Icon>icon-hammer color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="d376848c-5e55-4453-bfff-cb64a1869479">hasBackgroundOptions</Composition>
    </Compositions>
    <DefaultTemplate>servicePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="15affd02-e3da-492a-84ba-5ba6ace236b8">servicePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="530f07cb-c5eb-4239-9fc8-6f6cb616f716" SortOrder="0">serviceDetail</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>bbf50004-8ca2-4045-99ef-13c9c8327bed</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>efdbc4bf-8178-4b49-85ad-178270fa561a</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>4ec5f8cb-c930-490c-b4ac-9c41043cc5c8</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>