@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font: 'poppins', 'Times New Roman', Times, serif;
    --main-color: #4F5955;
    --main-color-opacity: #4f5955e3;
    --main-color-dark: #48514d;
    --sub-color-1: #F2EDDC;
    --sub-color-3: #D9C3A9;
    --note-1-color: #9C9EA6;
    --body-text-color: #535656;
    --border-color: #606966;
    --border-color: #EAEAEA;
    --footer-bg: #0E0E0E;
    --swedbank: #2D303A;
    --w-light: 300;
    --w-medium: 500;
    --w-semibold: 600;
    --w-bold: 700;
    --extension-title-size: 4.375em;
    --extension-title-weight: var(--w-bold);
    --headline-color: var(--main-color);
    --heading-01-size: 3.125em;
    --heading-01-weight: var(--w-bold);
    --heading-01-line-height: 3.75em;
    --heading-02-size: 2.5em;
    --heading-02-weight: var(--w-bold);
    --heading-02-line-height: 3.125em;
    --heading-03-size: 1.875em;
    --heading-03-weight: var(--w-bold);
    --heading-04-size: 1.5625em;
    --heading-04-weight: var(--w-bold);
    --heading-05-size: 1.375em;
    --heading-05-weight: var(--w-semibold);
    --heading-06-size: 1.125em;
    --heading-06-weight: var(--w-bold);
    --body-text-size: 0.875em;
    --body-text-line-height: 1.5em;
    --note-1-size: 0.8125em;
    --note-2-size: 0.8125em;
    --note-2-weight: var(--w-semibold);
    --label-size: 0.875em;
    --label-weight: var(--w-bold);
    --sub-title-1-size: 1.125em;
    --sub-title-1-weight: var(--w-medium);
    --sub-title-2-size: 1em;
    --sub-title-2-weight: var(--w-bold);
    --sub-title-3-size: 1em;
    --sub-title-3-weight: var(--w-medium);
    --sub-title-4-size: 0.875em;
    --sub-title-4-weight: var(--w-semibold);
    --slide-text-size: 1em;
    --quote-size: 1.25em;
    --quote-weight: var(--w-light);
    --nav-drop-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
    --req-card-drop-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.102);
    --letus-card-drop-shadow: 0 12px 40px 0 rgba(0, 0, 0, 0.102);
    --pad-responsive-inline: clamp( 1rem, calc( 1rem + (23.5rem - 1rem) * ((100vw - 380px) / (1920px - 380px)) ), 23.5rem );
    --card-size: 370px;
}

@font-face {
    font-family: "Font Awesome 6 Free";
    font-style: normal;
    font-weight: 900;
    src: url("/fontAwesome/webfonts/fa-solid-900.woff2") format("woff2");
}

@font-face {
    font-family: "Font Awesome 6 Free";
    font-style: normal;
    font-weight: 400;
    src: url("/fontAwesome/webfonts/fa-regular-400.woff2") format("woff2");
}

@font-face {
    font-family: "Font Awesome 6 Brands";
    font-style: normal;
    font-weight: 400;
    src: url("/fontAwesome/webfonts/fa-brands-400.woff2") format("woff2");
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: flex; 
    flex-direction:column;
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-weight: 400;
    font-style: normal;
    font-family: var(--font);
    min-height: 100vh;
    min-height: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
h6, 
h7,
h8{
    margin: 0;
    font-weight: 600;
    color: var(--headline-color);
}

p {
    margin: 0;
/*    color: var(--body-text-color);*/
}

.custom-p-1 {
    font-size: 14px;
    color: var(--body-text-color);
}

.custom-p-2 {
    font-size: 16px;
    color: var(--body-text-color);
}

.custom-p-3 {
    font-style: italic;
    color: var(--body-text-color);
}

.highlight{
    color: var(--sub-color-3);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

figure, figcaption {
    all: unset;
}

/* Buttons */
button {
    all: unset;
}

/* A-tags Links  */
a {
    all: unset;
    font-family: var(--font);
    cursor: pointer;
}

.address-link {
    display: flex;
    align-items: center;
    color: white;
    font-size: var(--note-1-size)
}


.social-media-container .social::before {
    font-family: "Font Awesome 6 Brands";
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    font-size: 1em;
    line-height: 1;
    transition: color 0.3s;
    color: white;
}

.social.facebook::before {
    content: "\f39e";
}

.social.linkedin::before {
    content: "\f0e1";
}
.social.x::before,
.social.twitter::before {
    content: "\e61b";
}

.social:hover::before {
    color: var(--sub-color-3);
}

.social {
    padding: .5rem;
    border-color: var(--border-color);
    border-left: 1px solid var(--border-color);
}

    .social:last-child {
        border-right: 1px solid var(--border-color);
    }

.nav-link {
    position: relative;
    display: inline-block;
    overflow: hidden;
    color: var(--main-color);
    font-size: var(--sub-title-2-size);
    font-weight: var(--sub-title-2-weight);
}
    .nav-link:hover {
        color: var(--main-color-opacity);
    }

    .nav-link :active {
        color: var(--main-color-dark);
    }

.current > .nav-link{
    color: var(--sub-color-3);
}

/*Hover animation*/
.nav-link::before {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    color: var(--main-color);
    transform: translateY(100%);
    opacity: 0;
    font: inherit;
    letter-spacing: inherit;
    will-change: transform, opacity;
    -webkit-mask-image: linear-gradient(to bottom, transparent 0, black 20%, black 80%, transparent 100%);
    mask-image: linear-gradient(to bottom, transparent 0, black 20%, black 80%, transparent 100%);
}

.nav-link:hover::before {
    animation: rollUp 0.6s ease-out forwards;
}

@keyframes rollUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    60% {
        transform: translateY(-10%);
        opacity: 1;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (prefers-reduced-motion: reduce) {
    .nav-link::before {
        animation: none !important;
        transform: none !important;
        opacity: 1 !important;
    }
}




/*Header start*/
header{
    display: flex;
    flex-direction: column;
    width: 100%;
}



.top-nav {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding-inline: var(--pad-responsive-inline);
    background-color: var(--main-color);
}

.social-media-container {
    display:flex;

}

.main-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem var(--pad-responsive-inline);


}

.page-navigation {
    display: flex;
    gap: 1rem;
}

@media (width >=768px) {
    .page-navigation {
        gap: 4rem;
    }
}

.bg-img-container{
    max-width: 100%;
}

.search-container > i {
    color: var(--main-color);
}

/*Header end*/


/*Breadcrumb Banner start*/
.breadcrumb-banner {display: none;}

@media (min-width: 768px) {
    .breadcrumb-banner {
        background-image: url('/Images/breadcrumb-bg.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        min-height: 245px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
.breadcrumb-banner > h2 {
    font-size: var(--heading-01-size);
    font-weight: var(--w-bold);
}

.breadcrumb{
    display: flex;
    gap: .3rem;
}
    .breadcrumb li {
        color: var(--main-color);
    }
.breadcrumb > .active{
    color: var(--sub-color-3);
}
/*Breadcrumb Banner end*/


/*Main*/
#main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/* Our Services Section Start */
.service-section{
    padding-inline: var(--pad-responsive-inline);
    padding-block: 5rem;
}

.service-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-label{
    color: var(--sub-color-3);
    font-weight: var(--w-bold);
    font-size: var(--note-1-size);

}

.service-title {
    display: flex;
    padding-block: 1rem;
    font-weight: var(--w-bold);
    font-size: var(--heading-02-size);
}

.cards-container {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat( auto-fill, minmax(min(var(--card-size), 100%), 1fr) );
    gap: 1.3rem;
}
.service-item {
    display: flex;
    background-color: white;
    max-width: var(--card-size);
    border: 1px solid var(--border-color);
}


.service-item figure {
    display: flex;
    flex-direction: column;
}

    .service-item figcaption h3 {
        padding: 1.5rem;
        font-size: var(--heading-05-size);
    }

    .service-item figure p{
        color: var(--body-text-color);
        font-size: var(--body-text-size);
        padding: 1.5rem;
    }

    .item-img-container {
        max-width: var(--card-size);
    }

        .item-img-container img {
            width: 100%;
        }

/* Our Services Section End */

/* Service Detail Pages Start */
.service-detail-section{
    display: flex;
    padding-inline: var(--pad-responsive-inline);
    margin-block: 5rem;
    gap: 3rem;
}

.widget {
    max-width: 350px;
    height: auto;
    display: none;
    border-right: 1px solid var(--border-color);
    align-self: stretch;
    padding-right: 2rem;
}


.widget > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.widget h5 {
    font-size: var(--heading-05-size);
    font-weight: var(--w-semibold);
}

.widget p{
    font-size: var(--body-text-size);
    color: var(--body-text-color);
}

.service-detail-content{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.service-detail-content img,
.widget img{
    width: 100%;
}

.service-detail-content > .rte{
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.service-detail-content > .rte h3 {
    font-weight: var(--w-bold);
    font-size: var(--heading-04-size    );
}

.rte ul {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    list-style-type: disc;
    padding-inline-start: 1.2em;
}
    .rte ul li {
        display: list-item;
        text-align: match-parent;
        list-style: disc;
        padding-inline-start: 1.2em;
    }
    .rte ul li::marker {
        color: var(--sub-color-3);
    }

@media (min-width: 1340px) {
    .widget {
        display: flex;
    }
}
/* Service Detail Pages End */

/* Success story Section start */
.success-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: var(--pad-responsive-inline);
    background-color: var(--main-color);
    padding-top: 6rem;
    padding-bottom: 6rem;
}


        .success-section article {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            background-image: url('/Images/Dot-map-bg.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            width: 100%;
            min-height: 556px;
        }

    .success-img-container {
        display: none;
        transform: translateY(13rem);
    }

    .success-section h3 {
        font-size: var(--note-2-size);
    }

    .success-section h4 {
        color: white;
        font-size: var(--heading-02-size);
        font-weight: var(--heading-02-weight);
    }

    .story-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 3rem;
        gap: 2rem;
    }

    figure.success-story {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
    }

        figure.success-story .highlight {
            font-size: var(--heading-01-size);
            font-weight: var(--heading-01-weight);
        }

    .success-story figcaption p {
        color: white;
        font-size: var(--heading-05-size);
        font-weight: var(--heading-05-weight);
    }

    @media (min-width: 1340px) {
        .success-section {
            padding-bottom: 0;
        }

        .story-container {
            flex-direction: row;
            align-items: flex-start;
        }

        .success-img-container {
            display: block;
        }

        figure.success-story {
            width: 370px;
        }
    }
    /* Success story Section end */



    /* Partners Section start */

    .partners-section {
        display: grid;
        --grid-min-col-size: 160px;
        grid-template-columns: repeat( auto-fill, minmax(min(var(--grid-min-col-size), 100%), 1fr) );
        justify-content: space-between;
        align-items: center;
        padding-inline: var(--pad-responsive-inline);
        padding-block: 3rem;
        gap: 1rem;
    }

        .partners-section .logo-container {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

    @media (min-width: 1340px) {
        .partners-section {
            padding-top: 17rem;
        }
    }

    /* Partners Section end */


    /*Team Section start*/
    .team-section {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-block: 3rem;
        padding-inline: var(--pad-responsive-inline);
    }

    .team-sub-title {
        color: var(--sub-color-3);
        font-size: var(--note-1-size);
        font-weight: var(--w-bold);
    }

    .team-section > .rte {
        padding-bottom: 1.5rem;
    }

        .team-section > .rte h3 {
            font-size: var(--heading-02-size);
            font-weight: var(--heading-02-weight);
        }

    .team-members {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        width: 100%;
    }

    .featured-team-members {
        width: 100%;
        --grid-min-col-size: 370px;
        display: grid;
        justify-items: center;
        grid-template-columns: repeat( auto-fill, minmax(min(var(--grid-min-col-size), 100%), 1fr) );
        gap: 1rem;
        margin: 0;
    }

    .other-team-members {
        width: 100%;
        --grid-min-col-size: 270px;
        display: grid;
        justify-items: center;
        grid-template-columns: repeat( auto-fill, minmax(min(var(--grid-min-col-size), 100%), 1fr) );
        gap: 1rem;
        margin: 0;
    }


    .team-member-card {
        border: 1px solid var(--border-color);
    }

    .img-container {
        max-width: 100%;
    }

        .img-container > img {
            width: 100%;
            height: auto;
            display: block;
        }

    .team-member-card > figcaption {
        display: block;
        padding: 1rem;
    }

    .team-member-card h5 {
        color: var(--main-color);
        font-size: var(--heading-03-size);
    }

    .team-member-card p {
        color: var(--note-1-color);
        font-size: var(--note-1-size);
    }

    /*Team Section End*/

    /*Contact info section start*/
    section.contact-info {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding-inline: var(--pad-responsive-inline);
        padding-top: 4rem;
    }

    .contact-img-container {
        display: none;
    }

    @media (min-width: 1340px) {
        .contact-img-container {
            background-image: url('../images/contact-info-bg.svg');
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            min-height: 635px;
            max-height: 635px;
        }
    }

    .contact-img-container > img {
        height: 676px;
        transform: translateY(-42px);
    }

    @media (min-width: 1340px) {
        .contact-img-container {
            display: flex;
        }
    }

    .info-container {
        display: flex;
        flex-direction: column;
        gap: 2.2rem;
        max-width: 420px;
    }

        .info-container > h4 {
            font-size: var(--heading-02-size);
            font-weight: var(--heading-02-weight);
        }

    .inner-info-container {
        display: grid;
        grid-template-columns: 1.5rem 1fr;
        grid-template-rows: auto auto;
        align-items: center;
        column-gap: .3rem;
    }

        .inner-info-container i {
            grid-row: 1 / span 1;
            grid-column: 1;
            justify-self: start;
            font-size: 1.2rem;
            color: var(--sub-color-3);
        }

        .inner-info-container h3 {
            grid-column: 2;
            grid-row: 1;
            margin: 0;
        }

        .inner-info-container a {
            grid-column: 2;
            grid-row: 2;
            text-decoration: none;
        }

        .inner-info-container > a:hover {
            color: var(--sub-color-3);
        }
 /*Contact info section end*/



/*Footer*/
footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-block: .7rem;
    padding-inline: var(--pad-responsive-inline);
    background-color: var(--footer-bg );
}

.copyright-text {
    color: var(--main-color);
    font-size: var(--note-1-size);
}

    .copyright-text .highlight {
        font-size: var(--body-text-size);
    }