<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f9cd4b3d-7011-42c6-bcd8-6baf5912ca75" Alias="Callback Request Options List" Level="1">
  <Info>
    <Name>Callback Request Options List</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 1
}]]></Config>
</DataType>