<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bfc0e0b8-d639-432b-a3e5-7bd46e190b46" Alias="Callback Form" Level="1">
  <Info>
    <Name>Callback Form</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "e52384a5-05dd-48e0-a8b3-db0d647937e6",
      "settingsElementTypeKey": "2ec7958d-70ee-4f58-8876-3815c5466373"
    }
  ]
}]]></Config>
</DataType>