<?xml version="1.0" encoding="utf-8"?>
<DataType Key="efdbc4bf-8178-4b49-85ad-178270fa561a" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "1e783221-b891-4faa-b2c1-74d14ecc9ca9"
    },
    {
      "contentElementTypeKey": "c2b4d866-0c8d-4bcd-a447-9688cfb35e56"
    },
    {
      "contentElementTypeKey": "25c1dc29-7984-4cb8-aaf4-049ba33c0ac7",
      "settingsElementTypeKey": "b1e2456e-fbad-446d-a077-6012bae9cf52"
    },
    {
      "contentElementTypeKey": "518aa046-fff3-474b-9b5f-afe0d2eb3f35"
    },
    {
      "contentElementTypeKey": "55b5843b-da29-4310-b64f-c8cc5ffe018f"
    },
    {
      "contentElementTypeKey": "413dae78-32ef-41fb-9870-002763301004"
    },
    {
      "contentElementTypeKey": "a6b8ef83-783e-4b62-a045-164622dec0a0",
      "settingsElementTypeKey": "7d9af79d-5570-46a3-a12f-a981f0fe1ded"
    },
    {
      "contentElementTypeKey": "9110e2dc-746a-4a78-8b6a-b464f571f564"
    },
    {
      "contentElementTypeKey": "e52384a5-05dd-48e0-a8b3-db0d647937e6",
      "settingsElementTypeKey": "2ec7958d-70ee-4f58-8876-3815c5466373"
    },
    {
      "contentElementTypeKey": "39f0ce03-fb45-4e9d-affe-16d56683716b"
    }
  ]
}]]></Config>
</DataType>