<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c6d9af16-5d69-4581-bad8-fac79d0d7674" Alias="Partner List" Level="1">
  <Info>
    <Name>Partner List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "6651efe4-8f4f-4123-ae01-0f2a4937e9d0",
      "label": "{umbValue: partnerName}"
    }
  ]
}]]></Config>
</DataType>