<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9758af24-1a37-46e1-b698-853e43d2d05e" Alias="Service Detail Aside" Level="1">
  <Info>
    <Name>Service Detail Aside</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "bc0df64f-c6b1-44c2-acbb-a1d3cddd20d7"
    },
    {
      "contentElementTypeKey": "75c75336-b9af-46a4-a363-2ffa5552e52b"
    }
  ]
}]]></Config>
</DataType>