<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6a3b33db-ab15-43a4-a318-56291c7fb3b0" Alias="Site Settings - SocialMediaPlatformList" Level="1">
  <Info>
    <Name>Site Settings - SocialMediaPlatformList</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "0a57a9d0-92f0-4cc8-82d5-4b3884c91b39",
      "label": "{umbValue: platformName}"
    }
  ]
}]]></Config>
</DataType>