<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b9ad0d1e-1100-4f16-8858-4b20d37ba9db" Alias="Success Stories" Level="1">
  <Info>
    <Name>Success Stories</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "a7be665c-9f92-4bb1-824d-6281c9d465be"
    }
  ]
}]]></Config>
</DataType>