<?xml version="1.0" encoding="utf-8"?>
<Content Key="a0ae4fa7-cba9-4db6-8c2b-d7ae4e0bf741" Alias="2025-11-06 15:33 - Call back request" Level="2">
  <Info>
    <Parent Key="f9cce838-6ee5-4871-99d2-6fad52b61afd">Form submissions</Parent>
    <Path>/FormSubmissions/CallBackRequest</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-06T15:33:42</CreateDate>
    <NodeName Default="2025-11-06 15:33 - Call back request" />
    <SortOrder>9</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[pelle@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[asdasdasd]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Business Consulting]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[asd]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>