<?xml version="1.0" encoding="utf-8"?>
<Content Key="914925b0-4946-414e-887f-c7827f643861" Alias="2025-11-06 15:42 - Newsletter request" Level="2">
  <Info>
    <Parent Key="f9cce838-6ee5-4871-99d2-6fad52b61afd">Form submissions</Parent>
    <Path>/FormSubmissions/NewsletterRequest</Path>
    <Trashed>false</Trashed>
    <ContentType>newsletterRequest</ContentType>
    <CreateDate>2025-11-06T15:42:45</CreateDate>
    <NodeName Default="2025-11-06 15:42 - Newsletter request" />
    <SortOrder>10</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <newsletterRequestEmail>
      <Value><![CDATA[pelle@pelle.com]]></Value>
    </newsletterRequestEmail>
  </Properties>
</Content>