<?xml version="1.0" encoding="utf-8"?>
<Content Key="129f1c14-02b5-45e6-8941-62df10e36c58" Alias="2025-11-05 08:17 - Newsletter request" Level="2">
  <Info>
    <Parent Key="f9cce838-6ee5-4871-99d2-6fad52b61afd">Form submissions</Parent>
    <Path>/FormSubmissions/NewsletterRequest</Path>
    <Trashed>false</Trashed>
    <ContentType>newsletterRequest</ContentType>
    <CreateDate>2025-11-05T08:17:29</CreateDate>
    <NodeName Default="2025-11-05 08:17 - Newsletter request" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <newsletterRequestEmail>
      <Value><![CDATA[pelle@domain.com]]></Value>
    </newsletterRequestEmail>
  </Properties>
</Content>