<?xml version="1.0" encoding="utf-8"?>
<Content Key="b8dccf5c-47fd-4b49-be78-27238a78d0e9" Alias="Assurance &amp; Audits" Level="3">
  <Info>
    <Parent Key="a66c4c31-a367-4e0b-aaa0-8eeb1a64653a">Services</Parent>
    <Path>/Home/Services/AssuranceAudits</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-31T12:59:37</CreateDate>
    <NodeName Default="Assurance &amp; Audits" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6402e4dc-183e-4790-820f-55c458773ae4">ServiceDetail</Template>
  </Info>
  <Properties>
    <backgroundColor>
      <Value><![CDATA[{
  "label": "",
  "value": "#F7F7F7"
}]]></Value>
    </backgroundColor>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <contactBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "807515b7-ee81-4c31-9178-f66479952ec6",
    "mediaKey": "38ca761d-47bd-4135-acfa-38f242fdf2e8",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactBackgroundImage>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "6ea2ca10-eb5a-4813-9fd6-7b8c0dfb843e",
    "mediaKey": "40d09a7d-4fa3-4664-9135-b7928593a825",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </heroImage>
    <heroImageDescription>
      <Value><![CDATA[Two business professionals in a discussion behind a glass wall.]]></Value>
    </heroImageDescription>
    <sections>
      <Value><![CDATA[]]></Value>
    </sections>
    <teaserText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non]]></Value>
    </teaserText>
    <widgets>
      <Value><![CDATA[]]></Value>
    </widgets>
  </Properties>
</Content>