<?xml version="1.0" encoding="utf-8"?>
<Content Key="cab178f2-ad8e-4bc3-a78d-38cb2b58ef90" Alias="Bonds &amp; Commodities" Level="3">
  <Info>
    <Parent Key="a66c4c31-a367-4e0b-aaa0-8eeb1a64653a">Services</Parent>
    <Path>/Home/Services/BondsCommodities</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-31T12:59:14</CreateDate>
    <NodeName Default="Bonds &amp; Commodities" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6402e4dc-183e-4790-820f-55c458773ae4">ServiceDetail</Template>
  </Info>
  <Properties>
    <backgroundColor>
      <Value><![CDATA[{
  "label": "",
  "value": "#F7F7F7"
}]]></Value>
    </backgroundColor>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <contactBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "baf6b9b5-8a4f-44a3-86e9-04bea945890d",
    "mediaKey": "38ca761d-47bd-4135-acfa-38f242fdf2e8",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactBackgroundImage>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "b1d4f266-f681-49d3-bb36-801657fa0153",
    "mediaKey": "a73f01af-b56c-425f-8065-44ffe42a43bf",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </heroImage>
    <heroImageDescription>
      <Value><![CDATA[Businessman in a suit interacting with a virtual digital interface.]]></Value>
    </heroImageDescription>
    <sections>
      <Value><![CDATA[]]></Value>
    </sections>
    <teaserText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </teaserText>
    <widgets>
      <Value><![CDATA[]]></Value>
    </widgets>
  </Properties>
</Content>