<?xml version="1.0" encoding="utf-8"?>
<Content Key="6094eb12-376a-48fe-a90f-5210ab1ee98b" Alias="Contact" Level="2">
  <Info>
    <Parent Key="3b8d65e5-fe4d-4702-ba4c-c44a28c658bf">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-24T09:33:11</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="de5b0561-be2b-4090-bbae-559a9ffa6178">contactPage</Template>
  </Info>
  <Properties>
    <backgroundColor>
      <Value><![CDATA[{
  "label": "",
  "value": "#FFFFFF"
}]]></Value>
    </backgroundColor>
    <contactBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "8472d488-2812-49fb-b61d-69191f06d166",
    "mediaKey": "38ca761d-47bd-4135-acfa-38f242fdf2e8",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactBackgroundImage>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "c2b4d866-0c8d-4bcd-a447-9688cfb35e56",
      "key": "612404a0-e659-46eb-becb-c9e1e70fb065",
      "udi": null,
      "values": [
        {
          "alias": "partnerList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "6651efe4-8f4f-4123-ae01-0f2a4937e9d0",
                "key": "5aa15133-1f8c-46f8-80c6-e02ff1ba6b5d",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerLogoImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "1dd96a66-ae07-4066-85e4-b37c19310bd9",
                        "mediaKey": "b339930f-83c4-47d6-9e76-fb84d50f1d58",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Freedombird"
                  }
                ]
              },
              {
                "contentTypeKey": "6651efe4-8f4f-4123-ae01-0f2a4937e9d0",
                "key": "4ff97a2e-5b9b-4e67-ae63-75a94ca91f7f",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerLogoImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "f46e3372-69ef-45a7-bbb4-12b554a78f58",
                        "mediaKey": "4c158d3c-34c4-4b4a-82d5-e1731854fdbb",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Identity"
                  }
                ]
              },
              {
                "contentTypeKey": "6651efe4-8f4f-4123-ae01-0f2a4937e9d0",
                "key": "66a98db2-3f06-4c0b-8cfd-eec4ce985fd1",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerLogoImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "9d6350d5-1f8f-4f4f-ac4a-073ce217c162",
                        "mediaKey": "43343742-93de-4c46-8d03-bb20b847544b",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Natural"
                  }
                ]
              },
              {
                "contentTypeKey": "6651efe4-8f4f-4123-ae01-0f2a4937e9d0",
                "key": "2410d33a-7b31-4536-b67c-e2ab2df72d8c",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerLogoImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "68034362-3855-49f7-ae4d-438ffdd5ebf8",
                        "mediaKey": "a435672e-f0c9-483e-91dc-4cd1f66ec068",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Simpleaf"
                  }
                ]
              },
              {
                "contentTypeKey": "6651efe4-8f4f-4123-ae01-0f2a4937e9d0",
                "key": "f7fceae9-c701-4a6f-a22c-4e83ae703fd3",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerLogoImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "fe61d830-e034-4876-9199-1a2ee2d498cb",
                        "mediaKey": "f5794d1f-a961-4862-8b88-c77d3146479f",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Globe"
                  }
                ]
              },
              {
                "contentTypeKey": "6651efe4-8f4f-4123-ae01-0f2a4937e9d0",
                "key": "9923c441-7f42-4c96-b892-d119423be999",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerLogoImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "dd9a4403-eb14-4c35-bd9a-7fe738e9a3a1",
                        "mediaKey": "34e78d76-4468-4cd6-aaca-752cb5fa66cb",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Fossil Group"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "5aa15133-1f8c-46f8-80c6-e02ff1ba6b5d",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "4ff97a2e-5b9b-4e67-ae63-75a94ca91f7f",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "66a98db2-3f06-4c0b-8cfd-eec4ce985fd1",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "2410d33a-7b31-4536-b67c-e2ab2df72d8c",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "f7fceae9-c701-4a6f-a22c-4e83ae703fd3",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "9923c441-7f42-4c96-b892-d119423be999",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "5aa15133-1f8c-46f8-80c6-e02ff1ba6b5d",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "4ff97a2e-5b9b-4e67-ae63-75a94ca91f7f",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "66a98db2-3f06-4c0b-8cfd-eec4ce985fd1",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "2410d33a-7b31-4536-b67c-e2ab2df72d8c",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "f7fceae9-c701-4a6f-a22c-4e83ae703fd3",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "9923c441-7f42-4c96-b892-d119423be999",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "e52384a5-05dd-48e0-a8b3-db0d647937e6",
      "key": "a4ec5cc2-0602-448e-8b98-a39d1edc789e",
      "udi": null,
      "values": [
        {
          "alias": "callbackLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Request a call back"
        },
        {
          "alias": "callbackTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "callbackText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "2ec7958d-70ee-4f58-8876-3815c5466373",
      "key": "6d1a32d7-1b20-4b7a-86ce-68be67acca82",
      "udi": null,
      "values": [
        {
          "alias": "callbackRequestOptions",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Financial consulting\nBusiness Consulting\nRisk Management\nInvestment Planning"
        },
        {
          "alias": "callbackShowLabelToggle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "612404a0-e659-46eb-becb-c9e1e70fb065",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a4ec5cc2-0602-448e-8b98-a39d1edc789e",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "a4ec5cc2-0602-448e-8b98-a39d1edc789e",
        "contentUdi": null,
        "settingsKey": "6d1a32d7-1b20-4b7a-86ce-68be67acca82",
        "settingsUdi": null
      },
      {
        "contentKey": "612404a0-e659-46eb-becb-c9e1e70fb065",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>