<?xml version="1.0" encoding="utf-8"?>
<Content Key="fddba6b8-903d-46e3-b60f-d4a3da5bff93" Alias="Financial Advisor" Level="3">
  <Info>
    <Parent Key="a66c4c31-a367-4e0b-aaa0-8eeb1a64653a">Services</Parent>
    <Path>/Home/Services/FinancialAdvisor</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-31T13:00:23</CreateDate>
    <NodeName Default="Financial Advisor" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6402e4dc-183e-4790-820f-55c458773ae4">ServiceDetail</Template>
  </Info>
  <Properties>
    <backgroundColor>
      <Value><![CDATA[{
  "label": "",
  "value": "#F7F7F7"
}]]></Value>
    </backgroundColor>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <contactBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "97404832-1bc7-467d-ad79-2636061d32b4",
    "mediaKey": "38ca761d-47bd-4135-acfa-38f242fdf2e8",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactBackgroundImage>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "174d0806-f692-455a-89f5-27d79f06f92d",
    "mediaKey": "876ad2c7-4cc5-4af0-9f1c-1b13c98b26eb",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </heroImage>
    <heroImageDescription>
      <Value><![CDATA[Two colleagues collaborating at a laptop, discussing work in a bright office.]]></Value>
    </heroImageDescription>
    <sections>
      <Value><![CDATA[]]></Value>
    </sections>
    <teaserText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </teaserText>
    <widgets>
      <Value><![CDATA[]]></Value>
    </widgets>
  </Properties>
</Content>