<?xml version="1.0" encoding="utf-8"?>
<Content Key="f9cce838-6ee5-4871-99d2-6fad52b61afd" Alias="Form submissions" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FormSubmissions</Path>
    <Trashed>false</Trashed>
    <ContentType>formSubmissions</ContentType>
    <CreateDate>2025-11-04T15:07:17</CreateDate>
    <NodeName Default="Form submissions" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>