<?xml version="1.0" encoding="utf-8"?>
<Content Key="197ee5f4-031b-4890-ae0e-3a23620ea7af" Alias="Onatrix - Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OnatrixSiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-10-24T10:43:18</CreateDate>
    <NodeName Default="Onatrix - Site Settings" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <address>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </address>
    <eMailAddress>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </eMailAddress>
    <footerText>
      <Value><![CDATA[© Onatrix. All Rights Reserved. Credits to Themesflat]]></Value>
    </footerText>
    <logoImage>
      <Value><![CDATA[[
  {
    "key": "bc5d4397-c164-4160-a746-ecc85bae7a27",
    "mediaKey": "b66c5139-59d0-4955-9f12-a2b2fd0892bc",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </logoImage>
    <phoneNumber>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </phoneNumber>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
    <socialMediaPlatformList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0a57a9d0-92f0-4cc8-82d5-4b3884c91b39",
      "key": "0b95a66a-af71-4118-8646-6cb83e8db6b5",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Facebook"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.facebook.com/"
        }
      ]
    },
    {
      "contentTypeKey": "0a57a9d0-92f0-4cc8-82d5-4b3884c91b39",
      "key": "b0116c9f-43ca-4423-9189-c0c6d81366af",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Twitter"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://x.com/"
        }
      ]
    },
    {
      "contentTypeKey": "0a57a9d0-92f0-4cc8-82d5-4b3884c91b39",
      "key": "f43569a8-fc4b-4797-a9d9-96c1288b381b",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "LinkedIn"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.linkedin.com/"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "0b95a66a-af71-4118-8646-6cb83e8db6b5",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b0116c9f-43ca-4423-9189-c0c6d81366af",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f43569a8-fc4b-4797-a9d9-96c1288b381b",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "0b95a66a-af71-4118-8646-6cb83e8db6b5",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "b0116c9f-43ca-4423-9189-c0c6d81366af",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "f43569a8-fc4b-4797-a9d9-96c1288b381b",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </socialMediaPlatformList>
  </Properties>
</Content>