<?xml version="1.0" encoding="utf-8"?>
<Content Key="cc4f7941-6055-43a9-b762-4dfde982560e" Alias="Projects" Level="2">
  <Info>
    <Parent Key="3b8d65e5-fe4d-4702-ba4c-c44a28c658bf">Home</Parent>
    <Path>/Home/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projectPage</ContentType>
    <CreateDate>2025-10-27T15:35:57</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7b24cf05-d692-45bf-8b06-acb36a1cdca6">projectPage</Template>
  </Info>
  <Properties>
    <backgroundColor>
      <Value><![CDATA[{
  "label": "",
  "value": "#F7F7F7"
}]]></Value>
    </backgroundColor>
    <contactBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "be189fca-83a8-4d59-8a86-6676ce68006c",
    "mediaKey": "74805589-dad3-4f20-b34f-78b8d557d3bd",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactBackgroundImage>
    <sections>
      <Value><![CDATA[]]></Value>
    </sections>
  </Properties>
</Content>