<?xml version="1.0" encoding="utf-8"?>
<Content Key="a66c4c31-a367-4e0b-aaa0-8eeb1a64653a" Alias="Services" Level="2">
  <Info>
    <Parent Key="3b8d65e5-fe4d-4702-ba4c-c44a28c658bf">Home</Parent>
    <Path>/Home/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-10-24T09:33:21</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="15affd02-e3da-492a-84ba-5ba6ace236b8">servicePage</Template>
  </Info>
  <Properties>
    <backgroundColor>
      <Value><![CDATA[{
  "label": "",
  "value": "#F7F7F7"
}]]></Value>
    </backgroundColor>
    <contactBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "008a7bf6-f8ee-4f95-9d6b-0f5a5e7a3374",
    "mediaKey": "38ca761d-47bd-4135-acfa-38f242fdf2e8",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactBackgroundImage>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "25c1dc29-7984-4cb8-aaf4-049ba33c0ac7",
      "key": "9e14f816-92e4-4ed9-b4c5-14119aaf951c",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "OUR SERVICES"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We Provide The Solutions To Grow Your Business Faster"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "b1e2456e-fbad-446d-a077-6012bae9cf52",
      "key": "e8cc1c05-7c9f-4030-95fa-80b59ea64cf2",
      "udi": null,
      "values": [
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#FFFFFF"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "9e14f816-92e4-4ed9-b4c5-14119aaf951c",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "9e14f816-92e4-4ed9-b4c5-14119aaf951c",
        "contentUdi": null,
        "settingsKey": "e8cc1c05-7c9f-4030-95fa-80b59ea64cf2",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>