<?xml version="1.0" encoding="utf-8"?>
<Content Key="dbaf2b4d-88bc-4615-9f56-a62f443afcc6" Alias="Statistic Advisors" Level="3">
  <Info>
    <Parent Key="a66c4c31-a367-4e0b-aaa0-8eeb1a64653a">Services</Parent>
    <Path>/Home/Services/StatisticAdvisors</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-31T13:00:50</CreateDate>
    <NodeName Default="Statistic Advisors" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6402e4dc-183e-4790-820f-55c458773ae4">ServiceDetail</Template>
  </Info>
  <Properties>
    <backgroundColor>
      <Value><![CDATA[{
  "label": "",
  "value": "#F7F7F7"
}]]></Value>
    </backgroundColor>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <contactBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "88105c5f-4488-4ad4-8772-5f1d5867dff7",
    "mediaKey": "38ca761d-47bd-4135-acfa-38f242fdf2e8",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactBackgroundImage>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "37432943-ae90-45b3-b033-0cfa19d81899",
    "mediaKey": "fad51553-b94f-4456-a6b9-92dc878ae29d",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </heroImage>
    <heroImageDescription>
      <Value><![CDATA[Group of professionals in a meeting, one woman speaking while others listen and take notes.]]></Value>
    </heroImageDescription>
    <sections>
      <Value><![CDATA[]]></Value>
    </sections>
    <teaserText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non]]></Value>
    </teaserText>
    <widgets>
      <Value><![CDATA[]]></Value>
    </widgets>
  </Properties>
</Content>