<?xml version="1.0" encoding="utf-8"?>
<Content Key="21d96e19-b051-477c-8445-0ad2ccdffe0c" Alias="Tax and Trusts" Level="3">
  <Info>
    <Parent Key="a66c4c31-a367-4e0b-aaa0-8eeb1a64653a">Services</Parent>
    <Path>/Home/Services/TaxAndTrusts</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-31T12:59:57</CreateDate>
    <NodeName Default="Tax and Trusts" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6402e4dc-183e-4790-820f-55c458773ae4">ServiceDetail</Template>
  </Info>
  <Properties>
    <backgroundColor>
      <Value><![CDATA[{
  "label": "",
  "value": "#F7F7F7"
}]]></Value>
    </backgroundColor>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <contactBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "0fe45f5a-acd9-4ab8-96ab-7641aae781aa",
    "mediaKey": "38ca761d-47bd-4135-acfa-38f242fdf2e8",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactBackgroundImage>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "043e04c4-6983-44ab-bc50-5d6988b9a81d",
    "mediaKey": "6fc3bc87-e33e-46ff-999d-23fb860cff55",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </heroImage>
    <heroImageDescription>
      <Value><![CDATA[Smiling team gathered around a conference table during a presentation with a whiteboard.]]></Value>
    </heroImageDescription>
    <sections>
      <Value><![CDATA[]]></Value>
    </sections>
    <teaserText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non]]></Value>
    </teaserText>
    <widgets>
      <Value><![CDATA[]]></Value>
    </widgets>
  </Properties>
</Content>