@using Umbraco.Cms.Web.Common.PublishedModels
@using Umbraco.Cms.Core.Models.Blocks
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    var siteSettings = Umbraco.ContentAtRoot()
        .DescendantsOrSelf<SiteSettings>()
        .FirstOrDefault();
}

<footer>
    <p class="copyright-text">@siteSettings?.FooterText</p>
</footer>