<div class="hamburger-container">
    <input type="checkbox" id="hamburger-toggle" class="hamburger-checkbox sr-only" />
    <label for="hamburger-toggle" class="hamburger-btn" aria-label="@Html.T("header.openMainMenu")">
        <div class="hamburger-icon">
            <span class="bar bar1"></span>
            <span class="bar bar2"></span>
            <span class="bar bar3"></span>
            <span class="bar bar4"></span>
        </div>
    </label>

    <nav id="main-menu" class="expanded-nav" aria-label="@Html.T("header.mainNavigation")">

        <partial name="Partials/Shared/_pageNavigation" />

    </nav>

    <div class="menu-overlay" hidden></div>
</div>