<section class="under-construction" role="status" aria-live="polite">
    <div class="uc-inner">
        <div class="hammer-wrap" aria-hidden="true">
            <svg class="hammer"
                 fill="#000000"
                 width="800px"
                 height="800px"
                 viewBox="0 0 56 56"
                 version="1.1"
                 xmlns:svg="http://www.w3.org/2000/svg">
                <g class="hammer-rot">
                    <path d="M 1.9205,50.6968 5.3687,54.145 C 7.2673,56 9.4279,55.8472 11.3484,53.7303 L 24.734933,39.154781 34.1981,28.8511 c 0.9384,0.6547 1.8113,0.6329 2.8807,0.4147 l 2.3352,-0.4802 1.5496,1.5495 -0.1091,1.1567 c -0.1528,1.2003 0.1963,2.1169 1.3092,3.2299 l 1.8334,1.8114 c 1.1129,1.1348 2.5968,1.2003 3.6663,0.1309 l 7.2675,-7.2673 C 56,28.3273 55.9347,26.8651 54.8218,25.7303 L 52.9884,23.8971 C 51.8755,22.784 50.9369,22.3912 49.7583,22.5658 l -1.1782,0.1309 -1.4843,-1.484 0.6548,-2.5534 c 0.3057,-1.2657 -0.0219,-2.2915 -1.3967,-3.6446 L 40.9636,9.6461 C 33.0414,1.7677 22.8933,2.0077 15.9532,9.0132 c -0.9602,0.9602 -1.0475,2.2697 -0.4364,3.2299 0.5019,0.8293 1.5713,1.3313 3.0335,0.9603 3.3827,-0.8512 6.7654,-0.5893 10.0827,1.6586 l -1.3968,3.5355 c -0.5238,1.3094 -0.4801,2.3787 0.0437,3.3608 L 2.3352,44.7171 C 0.2401,46.6594 0,48.7763 1.9205,50.6968 Z M 19.4233,9.8861 c 5.9579,-4.452 13.378,-3.7319 18.7467,1.6368 l 5.8704,5.827 c 0.5239,0.5238 0.5896,0.9384 0.4367,1.5932 l -0.8291,3.4918 3.5135,3.5136 2.1387,-0.1964 c 0.6329,-0.0655 0.8291,-0.0218 1.3529,0.4801 l 1.3753,1.3968 -6.1327,6.1543 -1.3967,-1.3967 c -0.5019,-0.502 -0.5457,-0.6984 -0.48,-1.3313 l 0.1962,-2.1606 -3.4916,-3.4918 -3.623,0.6984 c -0.6329,0.1309 -0.9602,0.1309 -1.5058,-0.4147 -0.446226,-1.956159 -3.212404,-3.249475 -4.8449,-4.8667 -0.5238,-0.5238 -0.5893,-0.8293 -0.3056,-1.5277 l 2.1388,-5.1067 C 29.004,10.7591 24.2682,8.8604 19.707,10.3226 19.5106,10.3881 19.3796,10.3444 19.3142,10.2571 19.2487,10.148 19.2487,10.0389 19.4233,9.8861 Z M 4.7576,49.1255 c -1.113,-1.113 -0.7202,-1.7896 0.0218,-2.4661 l 24.5083,-22.6095 2.7279,2.7497 -22.675,24.421 c -0.6765,0.742 -1.5276,0.9602 -2.4442,0.0655 z"
                          id="path1"
                          sodipodi:nodetypes="scccccccccccccccccccccccccccsccccccccccccccccccccccccccccc"
                          style="fill:#4F5955;fill-opacity:1" />
                </g>
            </svg>
            <div class="nail" aria-hidden="true"></div>
        </div>

        <h5 class="uc-title">This page is under construction</h5>
        <p class="uc-sub">We’re building something great. Please check back soon.</p>
    </div>
</section>